<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dish Delight Application</title>
    <link rel="stylesheet" href="/css/jass.css">
    <style>
        /* Custom styling for the tabs */
        .nav-tabs {
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .nav-tabs li {
            margin-right: 10px;
        }

        .nav-tabs li:last-child {
            margin-right: 0;
        }

        .nav-link {
            text-decoration: none;
            padding: 10px 15px;
            color: #333; /* Dark text color */
            border-radius: 8px;
            transition: background-color 0.3s ease;
        }

        .nav-link:hover {
            background-color: #f8f9fa; /* Light gray background color on hover */
        }

        .nav-link.active {
            background-color: #ffb6c1; /* Pastel button color */
            color: #fff; /* White text color */
        }

        /* Additional styling for the logout button */
        .logout-btn {
            padding: 10px 15px;
            background-color: #ffb6c1; /* Red color for logout button */
            color: #fff; /* White text color */
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .logout-btn:hover {
            background-color: #c82333; /* Darker red color on hover */
        }
    </style>
</head>

<body>
    <header class="display-flex justify-space-between align-center p-2">
        <h1>
            Dish Delight Application
        </h1>
        <nav>
            <ul class="nav-tabs">
                <li><a href="/create-recipes" class="nav-link">Create Recipe</a></li>
                <li><a href="/my-recipes" class="nav-link">My Recipes</a></li>
                <li><a href="/" class="nav-link">View Recipes</a></li>
                {{#if loggedIn}}
                  <li><button class="logout-btn" id="logout">Logout</button></li>
                {{else}}
                  <li><a href="/login" class="nav-link">Log In</a></li>
                {{/if}}
            </ul>
        </nav>
    </header>
    <main class="container container-fluid mt-5">
        <p> </p>
        {{{ body }}}
    </main>
    <footer>

    </footer>

    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>
