<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Recipe</title>
    <link rel="stylesheet" href="/css/styles.css"> 
    <style>
        
        body {
            background-color: #f0f0f0; 
            font-family: Arial, sans-serif; 
        }

        #recipe-form {
            max-width: 500px;
            margin: 50px auto; 
            padding: 20px;
            background-color: #fff; 
            border: 1px solid #ddd; 
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
        }

        h1 {
            text-align: center; 
            color: #555; 
        }

        label {
            display: block;
            margin-bottom: 10px;
            color: #555; 
        }

        input[type="text"],
        textarea, input[type='file'] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc; 
            border-radius: 5px;
            box-sizing: border-box;
            margin-bottom: 15px;
        }

        button[type="submit"] {
            width: 100%;
            padding: 10px;
            background-color: #ffb6c1; 
            color: #fff; 
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <header>
        <h1>Create Recipe</h1>
    </header>
    <main>
        <form id="recipe-form">
            <label for="title">Name of Dish</label>
            <input type="text" id="title" name="title" required>

            <label for="input_img">Upload Image</label>
            <input type = "file" id="input_img" name="input_img" onchange="fileChange()" required>
            
            <label for="description">Description of Dish</label>
            <textarea id="description" name="description" required></textarea>
            
            <label for="ingredients">List Ingredients</label>
            <textarea id="ingredients" name="ingredients" required></textarea>
            
            <label for="instructions">Instructions</label>
            <textarea id="instructions" name="instructions" required></textarea>
            
            <button type="submit">Create</button>
        </form>
        <script>
    function fileChange() {
        var file = document.getElementById('input_img');
        var form = new FormData();
        form.append("image", file.files[0]);
        console.log(file.files);
        const url = '/api/recipes/upload';
        const config = {
            method: 'POST',
            body: form
        }

        fetch(url, config)
            .then(res => res.json())
            .then((data) => localStorage.setItem('picture', JSON.parse(data).data.url))
            .catch(err => console.log(err));
    }
</script>

    </main>
    <footer>
        <p> </p>
    </footer>
    <script src="/js/myrecipes.js"></script>
</body>
</html>