
<h1>{{user.name}}'s login screen page! Auth protected. Add content to views/viewRecipes.handlebars here!</h1>

<p>So here is the page that users will see after signing up or logging in (atm you stay logged in so anytime you come back to the page it will already signed in)</p>